# Enable bzlmod and set Java toolchain/version
common --enable_bzlmod

build --java_language_version=17
build --tool_java_runtime_version=remotejdk_17

test --java_language_version=17
test --tool_java_runtime_version=remotejdk_17

# Keep output concise by default
build --curses=yes
build --color=yes

